.sub-landing {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -50px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.486))), url("../assets/background/2.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.486)), url("../assets/background/2.jpg");
  background-position: center;
}

.sl-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sl-desc .title {
  color: #fff !important;
  font-size: 40px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.map li {
  text-align: center;
}

.map li:not(:last-child) {
  margin-right: 10px;
}

.map-item,
.map-item a {
  color: #adadad;
  font-size: 10pt;
}

.active {
  color: #fff;
}

section.pp {
  padding-top: 60px;
}

.ppp {
  background-image: none !important;
}

.ppp .pp-desc {
  color: #00171f;
}

.faq-sect {
  margin: 40px auto;
}

.accordion-header button {
  color: #007ea7;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.accordion-header button:focus {
  outline: 1px solid #007ea7;
}

.accordion-body,
ol {
  letter-spacing: 1.2px;
  line-height: 1.5;
  font-size: 10pt;
}

.accordion-body ol li {
  margin-bottom: 10px;
}

.ct-icons {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-landing {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.486))), url("../assets/background/contact.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.486)), url("../assets/background/contact.jpg");
  background-position: center;
  background-size: cover;
}

.cti {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cti:not(:last-child) {
  margin-bottom: 30px;
}

.cti p,
.cti h2 {
  text-align: center;
}

.cti h2 {
  font-size: 15pt;
  margin-top: 10px;
}

.cti p,
.cti a {
  font-size: 10pt;
}

.cti a {
  color: #007ea7;
}

.cti img {
  height: 80px;
}

.contact-form {
  background-color: #fff;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.contact-form:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  background-image: url("../assets/background/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
}

@media (max-width: 1100px) {
  .contact-form:after {
    bottom: -10px;
  }
}

.cf-desc {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.cfc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cf-form {
  padding: 0 20px;
  max-width: 600px;
}

.cf-item {
  margin: 10px 0;
}

.cf-item input,
.cf-item textarea {
  border-radius: 3px;
  letter-spacing: 1.2px;
  width: 100%;
  color: #797979;
  font-size: 13px;
  font-weight: 400;
  height: 51px;
  line-height: 49px;
  border: 1px solid #b4b4b4;
  background: #f4f4f4;
  padding: 0 0 0 20px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cf-item input:focus-visible, .cf-item input:focus-within,
.cf-item textarea:focus-visible,
.cf-item textarea:focus-within {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-color: #007ea7;
  outline-width: 2px;
}

.cf-item input {
  height: 40px;
}

.cf-item textarea {
  height: 130px;
}

.signup-form {
  padding: 60px 0;
  padding-top: 10px;
}

.suf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suf-desc {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.suf-desc .sub {
  line-height: 1.5;
}

.suf-form {
  padding: 0 20px;
  max-width: 600px;
  margin-top: 30px;
}

.suf-item {
  margin: 10px 0;
}

.suf-item input,
.suf-item select {
  border-radius: 3px;
  letter-spacing: 1.2px;
  width: 100%;
  color: #797979;
  font-size: 13px;
  font-weight: 400;
  height: 51px;
  line-height: 49px;
  border: 1px solid #b4b4b4;
  background: #f4f4f4;
  padding: 0 0 0 20px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.suf-item input:focus-visible, .suf-item input:focus-within,
.suf-item select:focus-visible,
.suf-item select:focus-within {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-color: #007ea7;
  outline-width: 2px;
}

.su-footer {
  padding-top: 0 !important;
}

.su-logo {
  height: 50px;
}

.cf-cta {
  border: none;
}

.si-title {
  color: #134568 !important;
}

.cta-btn {
  text-decoration: none;
  padding: 9px 20px;
  background: #194992;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.cta-btn:hover {
  color: #fff;
  background-color: #0b3371;
}

th {
  color: #fff;
  font-size: 10pt;
  font-weight: 600;
}

td {
  font-size: 8pt;
}

.dt-card__title {
  color: #fff;
  font-size: 8pt;
}

.pro-body input {
  font-size: 10pt;
}
/*# sourceMappingURL=sub.css.map */